.container-fluid {
    color: $white-primary;
}

.people-section {
    height: 100vh;
    background-color: $black-secondary;
    position: relative;

    .my-info {
        height: 70px;
        padding: 10px;

        img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: solid 2px $blue-primary;
        }

        h4 {
            color: white;
        }

        p {
            font-size: 20px;
            color: $blue-primary;
            margin-top: -5px;

            &:hover {
                cursor: pointer;
            }
        }

        .auth-data {
            h4 {
                margin-top: 2px;
                margin-left: 10px;
                margin-bottom: 0px;
            }

            p {
                margin-left: 10px;
                color: $grey-secondary;
            }
        }
    }

    .open-chat {
        margin: 5px;
        margin-bottom: 15px;
        border-radius: 10px;

        img {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            float: left;
            margin: 2px;
            margin-right: 10px;
            border: $blue-primary solid 2px;
        }

        .group-avatar {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            float: left;
            margin: 2px;
            margin-right: 10px;
            border: $blue-primary solid 2px;

            i {
                font-size: 19px !important;
                margin-left: 4px !important;
                margin-top: 5px !important;
            }
        }

        h5 {
            padding: 8px;
        }

        &:hover {
            cursor: pointer;
            background-color: $grey-primary;

            h5 {
                font-weight: bold;
            }
        }
    }

    .active {
        cursor: pointer;
        background-color: $grey-primary;

        h5 {
            font-weight: bold;
        }
    }

    .friend-section {
        position: absolute;
        bottom: 30px;
        width: 90%;

        .friend-requests {
            float: left;
            border: $blue-primary solid 3px;
            border-radius: 10px;
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
            h5 {
                color: white;
            }
            p {
                color: white;
                font-weight: bold;
                margin-right: 5px;
            }
        }

        .add-friend {
            width: 100%;

            input[type=text] {
                margin-right: 10px;
                background-color: $black-primary;
                border: solid $blue-primary 2px;
                padding: 5px;
                color: white;
                border-radius: 8px;
                width: 77%;
            }

            button {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: $black-primary !important;
                border-color: $blue-primary !important;
                color: white;
                font-weight: bold;

                svg {
                    font-size: 30px;
                    padding: 0px;
                    padding-left: 4px;
                    padding-bottom: 2px;
                    z-index: 100;
                }
            }
        }

    }
}

.chat-section {
    height: 100vh;
    background-color: $grey-secondary;
    position: relative;

    .chat-header {
        width: 100%;
        padding: 10px;
        font-size: 2rem;
        background-color: $black-secondary;
    }

    .chat-message {
        padding: 20px;
        overflow:auto;
        height: 83vh !important;

        .global-message {
            text-align: center;
            margin: 0 auto;

            p {
                padding: 10px;
                margin-bottom: 10px;
                color: $blue-primary;
                font-weight: bold;
            }
        }

        .send {
            background-color: $black-secondary;
            padding: 10px;
            border: 2px solid $blue-primary;
            border-radius: 10px;
            max-width: 50%;
            margin-bottom: 10px;

            h5 {
                font-weight: bold;
            }
        }

        .get {
            background-color: $black-primary;
            padding: 10px;
            border: 2px solid $blue-primary;
            border-radius: 10px;
            max-width: 50%;
            margin-bottom: 10px;
        }
    }

    .chat-form {
        padding: 20px;
        position: absolute;
        bottom: 0;
        width: 100%;

        input[type=text] {
            width: 93%;
            margin-right: 10px;
            background-color: $black-primary;
            border: solid $blue-primary 2px;
            padding: 5px;
            color: white;
            border-radius: 8px;
        }

        .send-message {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $black-primary !important;
            border-color: $blue-primary !important;

            i {
                color: $blue-primary !important;
                font-size: 20px;
                margin-left: -2px;
                margin-top: 2px;
            }

            &:hover {
                background-color: $grey-secondary !important;
                border-color: $white-primary !important;

                i {
                    color: $white-primary !important;
                }
            }
        }
    }
}

.profile-section {
    height: 100vh;
    background-color: $black-secondary;

    //  Info private chat
    .user-profile-avatar {
        height: 150px;
        width: 150px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;

        img {
            max-height: 100%;
            border-radius: 50%;
        }
    }

    .user-profile-data {

        h3 {
            text-align: center;
        }

        h5 {
            text-align: center;
            color: $grey-secondary;
        }
    }

    //   Info group chat
    .group-info {
        text-align: center;
        margin: 20px;
    }

    .admin-icon {
        color: goldenrod;
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 10px;
    }

    .user-list-item {
        width: 100%;
        padding: 5px;
        position: relative;

        .menu-group-user-show-options {
            background-color: $black-secondary !important;

            .dropdown-item {
                color: $blue-primary !important;

                &:hover {
                    background-color: $grey-secondary !important;
                    color: $white-primary !important;

                    .fa-trash-alt {
                        color: darkred;
                    }

                    .fa-crown, .fa-user-times {
                        color: goldenrod;
                    }
                }
            }
        }

        .users-profile-avatar {
            height: 50px;
            width: 50px;

            img, svg {
                max-height: 100%;
                border-radius: 50%;
                border: 2px $blue-primary solid;
            }

            i {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                border: 2px $blue-primary solid;
                font-size: 25px;
                padding: 9px !important;
                padding-left: 9px !important;
            }

        }

        .users-profile-data {
            text-align: left;

            h5 {
                color: $white-primary !important;
                margin-left: 65px;
                margin-top: 6px;

                p {
                    color: $grey-primary;
                    font-size: 12px;
                }
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    .admin-add-users {
        .users-profile-data {
            h5 {
                padding-top: 7px;
            }
        }
    }

    .your-own-info:hover {
        cursor: auto !important;
    }
}
