.container-fluid {
    color: $white-primary;
}

.people-section {
    height: 100vh;
    background-color: $black-secondary;
    position: relative;

    .my-info {
        height: 70px;
        padding: 10px;

        img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: solid 2px $blue-primary;
        }

        p {
            font-size: 20px;
            color: $blue-primary;
            margin-top: -5px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .open-chat {
        margin: 5px;
        margin-bottom: 15px;
        border-radius: 10px;

        img {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            float: left;
            margin: 2px;
            margin-right: 10px;
            border: $blue-primary solid 2px;
        }

        .group-avatar {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            float: left;
            margin: 2px;
            margin-right: 10px;
            border: $blue-primary solid 2px;

            .glyphicon {
                font-size: 23px;
                margin-left: 4px;
                margin-top: 3px;
            }
        }

        h5 {
            padding: 8px;
        }

        &:hover {
            cursor: pointer;
            background-color: $grey-primary;

            h5 {
                font-weight: bold;
            }
        }
    }

    .active {
        cursor: pointer;
        background-color: $grey-primary;

        h5 {
            font-weight: bold;
        }
    }

    .friend-section {
        position: absolute;
        bottom: 30px;
        width: 90%;

        .friend-requests {
            float: left;
            border: $blue-primary solid 3px;
            border-radius: 10px;
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
            h5 {
                color: white;
            }
            p {
                color: white;
                font-weight: bold;
                margin-right: 5px;
            }
        }

        .add-friend {
            width: 100%;

            input[type=text] {
                margin-right: 10px;
                background-color: $black-primary;
                border: solid $blue-primary 2px;
                padding: 5px;
                color: white;
                border-radius: 8px;
                width: 77%;
            }

            button {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: $black-primary !important;
                border-color: $blue-primary !important;
                color: white;
                font-weight: bold;

                svg {
                    font-size: 30px;
                    padding: 0px;
                    padding-left: 4px;
                    padding-bottom: 2px;
                }
            }
        }

    }
}

.chat-section {
    height: 100vh;
    background-color: $grey-secondary;
    position: relative;

    .chat-header {
        width: 100%;
        padding: 10px;
        font-size: 2rem;
        background-color: $black-secondary;
    }

    .chat-message {
        padding: 20px;
        overflow:auto;
        height: 83vh !important;

        .global-message {
            text-align: center;
            margin: 0 auto;

            p {
                padding: 10px;
                margin-bottom: 10px;
                color: $blue-primary;
                font-weight: bold;
            }
        }

        .send {
            background-color: $black-secondary;
            padding: 10px;
            border: 2px solid $blue-primary;
            border-radius: 10px;
            max-width: 50%;
            margin-bottom: 10px;

            h5 {
                font-weight: bold;
            }
        }

        .get {
            background-color: $black-primary;
            padding: 10px;
            border: 2px solid $blue-primary;
            border-radius: 10px;
            max-width: 50%;
            margin-bottom: 10px;
        }
    }

    .chat-form {
        padding: 20px;
        position: absolute;
        bottom: 0;
        width: 100%;

        input[type=text] {
            width: 93%;
            margin-right: 10px;
            background-color: $black-primary;
            border: solid $blue-primary 2px;
            padding: 5px;
            color: white;
            border-radius: 8px;
        }

        .send-message {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $black-primary !important;
            border-color: $blue-primary !important;

            i {
                color: $blue-primary !important;
                font-size: 20px;
                margin-left: -2px;
                margin-top: 2px;
            }

            &:hover {
                background-color: $grey-secondary !important;
                border-color: $white-primary !important;

                i {
                    color: $white-primary !important;
                }
            }
        }
    }
}

.profile-section {
    height: 100vh;
    background-color: $black-secondary;

    .user-profile-avatar {
        height: 150px;
        width: 150px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;

        img {
            max-height: 100%;
            border-radius: 50%;
        }
    }

    .user-profile-data {

        h3 {
            text-align: center;
        }

        h5 {
            text-align: center;
            color: $grey-secondary;
        }
    }

    .group-info {
        text-align: center;
        margin: 20px;
    }

    .user-list-item {
        width: 100%;
        padding: 5px;
        .users-profile-avatar {
            height: 50px;
            width: 50px;

            img {
                max-height: 100%;
                border-radius: 50%;
                border: 2px $blue-primary solid;
            }
        }

        .users-profile-data {

            h5 {
                color: $white-primary !important;
                margin-left: 65px;
                margin-top: 13px;
            }
        }
    }
}
