// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// FontAwesome 5.13.0
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//  Main colors
$black-primary : #1e2124;
$black-secondary : #282b30;
$grey-primary : #36393e;
$grey-secondary : #424549;
$blue-primary : #7289da;
$white-primary : #ebebeb;

// Dashboard style
.user-dashboard {
    @import "pages/dashboard";
}

// User profile style
.user-edit {
    @import "pages/profile";
}
